{% extends "navbar.html" %} {% block title %} eDocs - Pending Documents {%
endblock title %} {% block content %}

<div class="pending-main-container">
  {% for doc in pendingDocs %}
  <div class="pending-block">
    <div class="value-block">
      <p id="label">Application No.:</p>
      <p id="value-appno">{{doc.app_no}}</p>
    </div>
    <div class="value-block">
      <p id="label">Application Type:</p>
      <p id="value">{{docType[doc.app_type]}}</p>
    </div>
    <div class="value-block">
      <p id="label">Submitted On:</p>
      <p id="value">{{doc.date.strftime('%B %d, %Y')}}</p>
    </div>
    <div class="value-block">
      <p id="label">Status:</p>
      <p id="value-status-pending">{{doc.status}}</p>
    </div>
    <a href="/view/{{doc.app_no}}" target="_blank">View Application</a>
  </div>
  {% endfor %}
</div>

<script>
  const eventSource = new EventSource("/refresh-pending");

  eventSource.addEventListener("db_change", function (event) {
    location.reload();
  });

  eventSource.onerror = function () {
    console.log("SSE connection lost");
  };
</script>

{% endblock content %}
