<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>eDocs - Reset Password</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', path='/images/file-circle-check-solid.svg') }}"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
      integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
      crossorigin="anonymous"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <div class="forgot-pass-main">
      <div class="forgot-pass-container">
        <div class="block1">
          <button class="backBtn" onclick="history.back()">
            <i class="fa-solid fa-arrow-left"></i>
          </button>
          <p id="logoTxt">eDocs</p>
          <div class="txtBlock">
            <p id="forgotPassTxt">Change Password for your account</p>
          </div>
        </div>
        <div class="block2">
          <form action="/forgot-password" method="post" id="forgotPassForm">
            <div class="input-block">
              <p id="label">Email</p>
              <div
                class="input-field"
                id="emailBlock"
                {%
                if
                emailError
                %}
                style="box-shadow: 0px 0px 0px 1px #da1e37"
                {%
                endif
                %}
              >
                <input
                  type="text"
                  name="email"
                  id="emailInput"
                  value="{{enteredEmail or ''}}"
                  placeholder="Email Here"
                  required
                />
              </div>
              {% if emailError %}
              <p id="emailErrorTxt">
                <i class="fa-solid fa-circle-exclamation"></i>Account does not
                exists!
              </p>
              {% endif %}
            </div>
            <div class="input-block">
              <p id="label">ID with last 4 digit of phone number</p>
              <div
                class="input-field"
                id="emailBlock"
                {%
                if
                validNoError
                %}
                style="box-shadow: 0px 0px 0px 1px #da1e37"
                {%
                endif
                %}
              >
                <input
                  type="text"
                  name="validNo"
                  placeholder="Validate Number Here"
                  value="{{validNo or ''}}"
                  pattern="[0-9]{11}"
                  minlength="11"
                  maxlength="11"
                  id="idNo"
                  required
                />
              </div>
              {% if validNoError %}
              <p id="validNoErrorTxt">
                <i class="fa-solid fa-circle-exclamation"></i>Invalid
                validatation number!
              </p>
              {% endif %}
            </div>
            <div class="input-block">
              <p id="label">New Password</p>
              <div
                class="input-field"
                id="passwordBlock"
                {%
                if
                passwordError
                %}
                style="box-shadow: 0px 0px 0px 1px #da1e37"
                {%
                endif
                %}
              >
                <input
                  type="password"
                  name="password"
                  value="{{enteredPassword or ''}}"
                  id="passwordTxt"
                  placeholder="Password Here"
                  minlength="4"
                  maxlength="10"
                  pattern="(?=.*[a-z])(?=.*[A-Z]).{4,10}"
                  title="Must contain 4 to 10 characters with atleast one uppercase character"
                  required
                />
                <button type="button" id="togglePassword">
                  <i id="eyeIcon" class="fa-solid fa-eye-slash"></i>
                </button>
              </div>
            </div>
            <button id="submitBtn" type="submit">
              <div
                class="spinner-border"
                style="display: none"
                id="spinner"
                role="status"
              >
                <span class="visually-hidden">Loading</span>
              </div>
              <span id="submitTxt">Update Password</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </body>
  <script>
    const forgotPassForm = document.getElementById("forgotPassForm");
    const submitTxt = document.getElementById("submitTxt");
    const spinner = document.getElementById("spinner");

    document
      .getElementById("forgotPassForm")
      .addEventListener("submit", function (e) {
        e.preventDefault();

        spinner.style.display = "inline-block";
        submitTxt.style.display = "none";

        setTimeout(() => {
          spinner.style.display = "none";
          submitTxt.style.display = "inline";
          this.submit();
        }, 800);
      });

    const passwordTxt = document.getElementById("passwordTxt");
    const eyeIcon = document.getElementById("eyeIcon");

    document.getElementById("togglePassword").addEventListener("click", () => {
      if (passwordTxt.type === "password") {
        passwordTxt.type = "text";
        eyeIcon.classList.remove("fa-eye-slash");
        eyeIcon.classList.add("fa-eye");
      } else {
        passwordTxt.type = "password";
        eyeIcon.classList.remove("fa-eye");
        eyeIcon.classList.add("fa-eye-slash");
      }
    });
  </script>
</html>
